@import "tailwindcss";
@import "tw-animate-css";
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Caprasimo&display=swap");

@theme {
  --font-head: "Roboto", sans-serif;
  --font-sans: "Roboto", sans-serif;
  --font-display: "Caprasimo", cursive;
  --radius: var(--radius);

  --shadow-xs: 1px 1px 0 0 var(--border);
  --shadow-sm: 2px 2px 0 0 var(--border);
  --shadow: 3px 3px 0 0 var(--border);
  --shadow-md: 4px 4px 0 0 var(--border);
  --shadow-lg: 6px 6px 0 0 var(--border);
  --shadow-xl: 10px 10px 0 1px var(--border);
  --shadow-2xl: 16px 16px 0 1px var(--border);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
}

:root {
  --color-onyx-50: hsl(180 4% 95.1%);
  --color-onyx-100: hsl(180 5.9% 90%);
  --color-onyx-200: hsl(180 3.9% 80%);
  --color-onyx-300: hsl(180 4.6% 70%);
  --color-onyx-400: hsl(180 3.9% 60%);
  --color-onyx-500: hsl(180 4.3% 50%);
  --color-onyx-600: hsl(180 3.9% 40%);
  --color-onyx-700: hsl(180 4.6% 30%);
  --color-onyx-800: hsl(180 3.9% 20%);
  --color-onyx-900: hsl(180 5.9% 10%);
  --color-onyx-950: hsl(180 5.6% 7.1%);

  --color-jet-black-50: hsl(220 12% 95.1%);
  --color-jet-black-100: hsl(216 9.8% 90%);
  --color-jet-black-200: hsl(215 11.8% 80%);
  --color-jet-black-300: hsl(215.3 11.1% 70%);
  --color-jet-black-400: hsl(215.5 10.8% 60%);
  --color-jet-black-500: hsl(215.2 11.4% 50%);
  --color-jet-black-600: hsl(215.5 10.8% 40%);
  --color-jet-black-700: hsl(215.3 11.1% 30%);
  --color-jet-black-800: hsl(215 11.8% 20%);
  --color-jet-black-900: hsl(216 9.8% 10%);
  --color-jet-black-950: hsl(225 11.1% 7.1%);

  --color-platinum-50: hsl(210 7.7% 94.9%);
  --color-platinum-100: hsl(220 5.9% 90%);
  --color-platinum-200: hsl(217.5 7.8% 80%);
  --color-platinum-300: hsl(218.2 7.2% 70%);
  --color-platinum-400: hsl(218.6 6.9% 60%);
  --color-platinum-500: hsl(218.8 6.7% 50%);
  --color-platinum-600: hsl(218.6 6.9% 40%);
  --color-platinum-700: hsl(218.2 7.2% 30%);
  --color-platinum-800: hsl(217.5 7.8% 20%);
  --color-platinum-900: hsl(220 5.9% 10%);
  --color-platinum-950: hsl(240 5.6% 7.1%);

  --color-bright-gold-50: hsl(52.5 92.3% 94.9%);
  --color-bright-gold-100: hsl(51.4 96.1% 90%);
  --color-bright-gold-200: hsl(52 96.1% 80%);
  --color-bright-gold-300: hsl(51.8 96.1% 70%);
  --color-bright-gold-400: hsl(52 96.1% 60%);
  --color-bright-gold-500: hsl(51.9 96.1% 50%);
  --color-bright-gold-600: hsl(52 96.1% 40%);
  --color-bright-gold-700: hsl(51.8 96.1% 30%);
  --color-bright-gold-800: hsl(52 96.1% 20%);
  --color-bright-gold-900: hsl(51.4 96.1% 10%);
  --color-bright-gold-950: hsl(51.2 94.4% 7.1%);

  --color-saffron-50: hsl(48 76.9% 94.9%);
  --color-saffron-100: hsl(45.4 80.4% 90%);
  --color-saffron-200: hsl(46.1 80.4% 80%);
  --color-saffron-300: hsl(45.9 80.4% 70%);
  --color-saffron-400: hsl(46.1 80.4% 60%);
  --color-saffron-500: hsl(46 80.4% 50%);
  --color-saffron-600: hsl(46.1 80.4% 40%);
  --color-saffron-700: hsl(45.9 80.4% 30%);
  --color-saffron-800: hsl(46.1 80.4% 20%);
  --color-saffron-900: hsl(45.4 80.4% 10%);
  --color-saffron-950: hsl(45 77.8% 7.1%);
}

.dark {
  --radius: 0;
  --background: #1a1a1a;
  --foreground: #f5f5f5;
  --card: #242424;
  --card-foreground: #f5f5f5;
  --primary: #ffdb33;
  --primary-hover: #ffcc00;
  --primary-foreground: #000;
  --secondary: #3a3a3a;
  --secondary-foreground: #f5f5f5;
  --muted: #3f3f46;
  --muted-foreground: #a0a0a0;
  --accent: #fae583;
  --accent-foreground: #000;
  --destructive: #e63946;
  --destructive-foreground: #fff;
  --border: #3a3a3a;
}

@theme inline {
  --color-primary: var(--color-thistle-400);
  --color-border-1: var(--color-deep-lilac-800);
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--background-pattern);
}
