@import "tailwindcss";
@import "tw-animate-css";
/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@theme {
  --font-head: "Archivo Black", sans-serif;
  --font-sans: "Space Grotesk", sans-serif;
  --radius: var(--radius);

  --shadow-xs: 1px 1px 0 0 var(--border);
  --shadow-sm: 2px 2px 0 0 var(--border);
  --shadow: 3px 3px 0 0 var(--border);
  --shadow-md: 4px 4px 0 0 var(--border);
  --shadow-lg: 6px 6px 0 0 var(--border);
  --shadow-xl: 10px 10px 0 1px var(--border);
  --shadow-2xl: 16px 16px 0 1px var(--border);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
}

:root {
  --color-thistle-50: hsl(278.2 44% 95.1%);
  --color-thistle-100: hsl(280 41.2% 90%);
  --color-thistle-200: hsl(278.6 41.2% 80%);
  --color-thistle-300: hsl(278.8 42.5% 70%);
  --color-thistle-400: hsl(279.1 42.2% 60%);
  --color-thistle-500: hsl(279.3 42% 50%);
  --color-thistle-600: hsl(279.1 42.2% 40%);
  --color-thistle-700: hsl(278.8 42.5% 30%);
  --color-thistle-800: hsl(278.6 41.2% 20%);
  --color-thistle-900: hsl(280 41.2% 10%);
  --color-thistle-950: hsl(280 42.9% 6.9%);

  --color-thistle-50: hsl(278.2 44% 95.1%);
  --color-thistle-100: hsl(276.5 45.1% 90%);
  --color-thistle-200: hsl(276.5 45.1% 80%);
  --color-thistle-300: hsl(277.4 45.1% 70%);
  --color-thistle-400: hsl(277.2 45.1% 60%);
  --color-thistle-500: hsl(277 45.1% 50%);
  --color-thistle-600: hsl(277.2 45.1% 40%);
  --color-thistle-700: hsl(277.4 45.1% 30%);
  --color-thistle-800: hsl(276.5 45.1% 20%);
  --color-thistle-900: hsl(276.5 45.1% 10%);
  --color-thistle-950: hsl(277.5 44.4% 7.1%);

  --color-wisteria-50: hsl(275 46.2% 94.9%);
  --color-wisteria-100: hsl(273.9 45.1% 90%);
  --color-wisteria-200: hsl(275 47.1% 80%);
  --color-wisteria-300: hsl(274.6 46.4% 70%);
  --color-wisteria-400: hsl(275 47.1% 60%);
  --color-wisteria-500: hsl(274.8 46.7% 50%);
  --color-wisteria-600: hsl(275 47.1% 40%);
  --color-wisteria-700: hsl(274.6 46.4% 30%);
  --color-wisteria-800: hsl(275 47.1% 20%);
  --color-wisteria-900: hsl(273.9 45.1% 10%);
  --color-wisteria-950: hsl(275.3 48.6% 6.9%);

  --color-wisteria-50: hsl(272.3 52% 95.1%);
  --color-wisteria-100: hsl(271.1 52.9% 90%);
  --color-wisteria-200: hsl(272.2 52.9% 80%);
  --color-wisteria-300: hsl(271.9 51.6% 70%);
  --color-wisteria-400: hsl(272.3 52% 60%);
  --color-wisteria-500: hsl(272 52.2% 50%);
  --color-wisteria-600: hsl(272.3 52% 40%);
  --color-wisteria-700: hsl(271.9 51.6% 30%);
  --color-wisteria-800: hsl(272.2 52.9% 20%);
  --color-wisteria-900: hsl(271.1 52.9% 10%);
  --color-wisteria-950: hsl(270 50% 7.1%);

  --color-bright-lavender-50: hsl(270 53.8% 94.9%);
  --color-bright-lavender-100: hsl(271.1 52.9% 90%);
  --color-bright-lavender-200: hsl(271.1 54.9% 80%);
  --color-bright-lavender-300: hsl(271.1 54.2% 70%);
  --color-bright-lavender-400: hsl(271.1 53.9% 60%);
  --color-bright-lavender-500: hsl(271.1 53.7% 50%);
  --color-bright-lavender-600: hsl(271.1 53.9% 40%);
  --color-bright-lavender-700: hsl(271.1 54.2% 30%);
  --color-bright-lavender-800: hsl(271.1 54.9% 20%);
  --color-bright-lavender-900: hsl(271.1 52.9% 10%);
  --color-bright-lavender-950: hsl(271.6 54.3% 6.9%);

  --color-lavender-purple-50: hsl(270 53.8% 94.9%);
  --color-lavender-purple-100: hsl(271 56.9% 90%);
  --color-lavender-purple-200: hsl(270 56.9% 80%);
  --color-lavender-purple-300: hsl(269.6 55.6% 70%);
  --color-lavender-purple-400: hsl(270 55.9% 60%);
  --color-lavender-purple-500: hsl(269.8 56.1% 50%);
  --color-lavender-purple-600: hsl(270 55.9% 40%);
  --color-lavender-purple-700: hsl(269.6 55.6% 30%);
  --color-lavender-purple-800: hsl(270 56.9% 20%);
  --color-lavender-purple-900: hsl(269 56.9% 10%);
  --color-lavender-purple-950: hsl(270 55.6% 7.1%);

  --color-lavender-purple-50: hsl(267.7 52% 95.1%);
  --color-lavender-purple-100: hsl(266.4 49% 90%);
  --color-lavender-purple-200: hsl(265.9 50.5% 80.2%);
  --color-lavender-purple-300: hsl(267.3 50.3% 70%);
  --color-lavender-purple-400: hsl(267.1 50% 60%);
  --color-lavender-purple-500: hsl(266.9 49.8% 50%);
  --color-lavender-purple-600: hsl(267.1 50% 40%);
  --color-lavender-purple-700: hsl(267.3 50.3% 30%);
  --color-lavender-purple-800: hsl(266.5 51% 20%);
  --color-lavender-purple-900: hsl(266.4 49% 10%);
  --color-lavender-purple-950: hsl(266.7 50% 7.1%);

  --color-deep-lilac-50: hsl(261.8 44% 95.1%);
  --color-deep-lilac-100: hsl(263.5 45.1% 90%);
  --color-deep-lilac-200: hsl(263.5 45.1% 80%);
  --color-deep-lilac-300: hsl(262.6 45.1% 70%);
  --color-deep-lilac-400: hsl(262.8 45.1% 60%);
  --color-deep-lilac-500: hsl(263 45.1% 50%);
  --color-deep-lilac-600: hsl(262.8 45.1% 40%);
  --color-deep-lilac-700: hsl(262.6 45.1% 30%);
  --color-deep-lilac-800: hsl(263.5 45.1% 20%);
  --color-deep-lilac-900: hsl(263.5 45.1% 10%);
  --color-deep-lilac-950: hsl(262.5 44.4% 7.1%);

  --color-deep-lilac-50: hsl(264 38.5% 94.9%);
  --color-deep-lilac-100: hsl(260 41.2% 90%);
  --color-deep-lilac-200: hsl(259.5 39.2% 80%);
  --color-deep-lilac-300: hsl(259.7 39.9% 70%);
  --color-deep-lilac-400: hsl(259.8 40.2% 60%);
  --color-deep-lilac-500: hsl(260 40.2% 50.2%);
  --color-deep-lilac-600: hsl(259.8 40.2% 40%);
  --color-deep-lilac-700: hsl(259.7 39.9% 30%);
  --color-deep-lilac-800: hsl(259.5 39.2% 20%);
  --color-deep-lilac-900: hsl(260 41.2% 10%);
  --color-deep-lilac-950: hsl(257.1 38.9% 7.1%);

  --color-deep-lilac-50: hsl(258 38.5% 94.9%);
  --color-deep-lilac-100: hsl(257.1 41.2% 90%);
  --color-deep-lilac-200: hsl(255.7 41.2% 80%);
  --color-deep-lilac-300: hsl(256.2 41.2% 70%);
  --color-deep-lilac-400: hsl(255.7 41.2% 60%);
  --color-deep-lilac-500: hsl(256 41.2% 50%);
  --color-deep-lilac-600: hsl(255.7 41.2% 40%);
  --color-deep-lilac-700: hsl(256.2 41.2% 30%);
  --color-deep-lilac-800: hsl(255.7 41.2% 20%);
  --color-deep-lilac-900: hsl(257.1 41.2% 10%);
  --color-deep-lilac-950: hsl(252.9 38.9% 7.1%);
}

.dark {
  --radius: 0;
  --background: #1a1a1a;
  --foreground: #f5f5f5;
  --card: #242424;
  --card-foreground: #f5f5f5;
  --primary: #ffdb33;
  --primary-hover: #ffcc00;
  --primary-foreground: #000;
  --secondary: #3a3a3a;
  --secondary-foreground: #f5f5f5;
  --muted: #3f3f46;
  --muted-foreground: #a0a0a0;
  --accent: #fae583;
  --accent-foreground: #000;
  --destructive: #e63946;
  --destructive-foreground: #fff;
  --border: #3a3a3a;
}

@theme inline {
  --color-primary: var(--color-deep-lilac-100);
  --color-border-1: var(--color-deep-lilac-800);
}
